.roundCard {
  width: 100%;
  text-align: center;
  h2 {
    margin:20px;
  }
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 15%;
    border-radius: 5px;
    float: left;
    margin: 0 8px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
}

// equal height column

.column {
  margin-top: 20px;
  text-align: center;
}

.eqtext {
  @extend .column;
  padding-bottom:40px;
}

.col-container {
    display: table;
    width: 100%;
}
.col {
    display: table-cell;
    padding: 16px;
}


//battery animation
#div1 {
  font-size:48px;
  float: right;
}

p.fontalign {
  text-align: right;
}
