// Font weights
$light: 100;
$regular: 400;
$bold: 600;
$bodyFontColor: #666666;

// Base Font
$base-font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
$base-font-weight: $regular;
$base-font-size: 13px;
$base-line-height: 1.4;

.paragraphFormat p,
.paragraphFormat ul {
    margin: 0 0 15px;
}

.paragraphFormat li {
    margin: 0 0 5px 30px;
}

body {
	font-family: $base-font-family;
	font-weight: $regular;
	font-size: $base-font-size;
    line-height: $base-line-height;
    color: $bodyFontColor;
    height: 100%;
    padding-top: 100px;
}