
.paragraphFormat p,
.paragraphFormat ul {
    margin: 0 0 15px;
}

.paragraphFormat li {
    margin: 0 0 5px 30px;
}

body {
    font: 400 14px/22px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    color: #666;
    height: 100%;
    padding-top: 100px;
}