//Map

$font-weights: (
  hairline: 100,
  extra-light: 200,
  light: 300,
  regular: 400,
  book: 500,
  medium: 600,
  bold: 700,
  black: 800,
  heavy: 900 );

$font-light: map-get($font-weights, light);
$font-normal: map-get($font-weights, normal);
$font-medium: map-get($font-weights, medium);
$font-bold: $font-medium;
$font-black: $font-medium;

// Font Family
$font-brand: 'SprintSansWeb';
$font-unicode-sanserif: 'Helvetica', 'Arial Unicode MS', sans-serif;
$font-brand-stack: $font-brand, $font-unicode-sanserif;

// Temporary Fallback
// TODO: go through repositories and replace all $font-thin with $font-light
$font-thin: $font-light;


//Function
@function font-weight($weight: $default-map-font-weight) {
  @if map-has-key($font-weight, $weight) != true {
    @warn "#{weight} not found"; }
  @return map-get($font-weight, $weight); }

  h2 {
      font-family: 'Sofia';font-size: 22px;
  }
