// Footer Styles
$footerBackgroundColor: #444444;
$footerTextColor: #9c9c9c;
$footer-font-size: 13px;

.footer {
    padding: 0px;
}

.footer-section {
    color: $footerTextColor;
    font-size: $footer-font-size;
    letter-spacing: 1px;
    line-height: 1.5em;
    padding: 20px 0 13px;
    word-spacing: 1px;
    position: relative;
    z-index: 3;
    background-color: $footerBackgroundColor;
}
