// Footer Styles
$footerBackgroundColor: #444444;
$footerTextColor: #9c9c9c;
$footer-font-size: 13px;

.footer {
    padding: 0px;
    height: 100px; 
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0; 
}

.footer-section {
    color: $footerTextColor;
    font-size: $footer-font-size;
    letter-spacing: 1px;
    line-height: 1.5em;
    padding: 40px 0 13px;
    height: 100px;
    word-spacing: 1px;
    position: relative;
    z-index: 3;
    background-color: $footerBackgroundColor;
}
