
.footer {
    padding: 0px;
}

.footer-section {
    color: #9c9c9c;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 1.5em;
    padding: 20px 0 13px;
    word-spacing: 1px;
    position: relative;
    z-index: 3;
    background-color: #444444;
}
