
.padding-bottom-5 {
    padding-bottom: 5px;
}

.padding-bottom-7 {
    padding-bottom: 7px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.padding-bottom-17 {
    padding-bottom: 17px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.wrapper {
    min-height: 100%;
    position: relative;
}

.content {
    padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
	.content {
	    padding-bottom: 110px;
	}		
}

