$primaryColor: #064b86;

.btn-primary,
.color-primary-0 { background-color: $primaryColor; 
                    border-color: $borderColor ;}    

.btn-primary:hover,
.color-secondary-1-0 { background-color: $borderColor;
                        border-color: #095EA6; }    


.primary-nav-color {
    background-color: $primaryColor;
}

.navbar-collapse li.active > a { color: $borderColor; }
.nav li > a:hover { background-color: $borderColor; }
.navbar-collapse li > a { color: #ffffff; }

nav {
  .navbar-brand {
    font-size: 30px;
    }
}

nav.navbar.shrink {
    min-height: 35px;
    .navbar-brand {
    font-size: 25px;
  }
}

.navbar-toggle {
    margin: 13px 15px 13px 0;
}

a {
    font-size: 18px;
    padding-bottom: 20px !important;
    padding-top: 20px !important;
    transition: all 0.3s ease;
}

a {
    font-size: 15px;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

.navbar-toggle {
    margin: 8px 15px 8px 0;
    padding: 4px 5px;
  }
    
.dispute-bill-wrapper {
    margin: 5px;
    }  


li.active > a {
    background-color: #fff;
    }

.bg-primary {
    color: #ffffff;
    background-color: $buttonColor;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: 100%;
    width: auto;
}  