// Sites Color
$borderColor: #2874B3;
$primaryButtonColor: #064b86;
$buttonDark: darken($primaryButtonColor, 10%);
$buttonDarker: lighten($primaryButtonColor, 10%);
$primaryBorderColor: #2874B3;
$buttonColor: #cfcfcf;

$bodyFontColor: #666666;


.btn-primary,
.color-primary-0 { background-color: $primaryButtonColor; 
                    border-color: $primaryBorderColor ;}	

.btn-primary:hover,
.color-secondary-1-0 { background-color: lighten($primaryButtonColor, 10%);
                        border-color: #095EA6; }	


.primary-nav-color {
    background-color: #064b86;
}